* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background-color: #fff; }

header {
  height: 766px;
  border-bottom-right-radius: 37% 40%;
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-position: 60% 49%;
  background-repeat: no-repeat; }

.header-wrap {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 200px;
  padding-top: 20px; }
  .header-wrap .landing-logo {
    padding-top: 5px;
    display: flex;
    font-family: "Hind", sans-serif;
    align-items: flex-start;
    align-content: center; }
    .header-wrap .landing-logo img {
      width: 50px;
      height: 50px; }
    .header-wrap .landing-logo p {
      font-size: 25px;
      font-weight: 600;
      padding-left: 17px;
      line-height: 32px;
      color: #2a2d3b; }
      .header-wrap .landing-logo p span {
        font-family: "Hind", sans-serif;
        display: block;
        font-size: 10px;
        text-align: center;
        color: #2a2d3b;
        line-height: 11px; }
  .header-wrap p.header_heading {
    font-size: 80px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    color: #2a2d3b;
    width: 700px;
    font-weight: 900;
    line-height: 1;
    position: relative;
    z-index: 1; }
    .header-wrap p.header_heading::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 48%;
      z-index: -1;
      border-bottom: 53px solid #14a0c7; }
  .header-wrap .header_text {
    font-size: 18px;
    text-align: left;
    color: #2a2d3b;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    width: 720px;
    line-height: 1.5;
    letter-spacing: 0.5px; }
  .header-wrap div:last-child {
    width: 540px;
    display: flex;
    justify-content: space-between; }
    .header-wrap div:last-child a {
      font-size: 22px;
      margin-top: 13px;
      color: #fff;
      font-weight: 600;
      font-family: "Source Sans Pro", sans-serif; }
      .header-wrap div:last-child a:hover {
        color: #699900; }

button, .section_banner button {
  background-color: #699900;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-weight: 600;
  padding: 12px 43px;
  border-radius: 4px;
  border: 2px solid #699800; }
  button:hover {
    cursor: pointer;
    background-color: inherit; }

.section {
  margin-top: 38px;
  margin-left: 10px; }
  .section > p {
    color: #2a2d3b;
    margin: auto;
    margin-bottom: 40px;
    width: 518px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 1; }
    .section > p::after {
      content: "";
      position: absolute;
      left: 269px;
      bottom: 10px;
      width: 43.5%;
      z-index: -1;
      border-bottom: 55px solid #14a0c7; }

.section_card_wrap {
  margin-bottom: 55px; }
  .section_card_wrap .section_card {
    background-color: #21232e;
    color: #fff;
    width: 1200px;
    height: 305px;
    margin: auto;
    margin-bottom: 23px;
    padding: 20px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between; }
    .section_card_wrap .section_card .section_card_img {
      width: 450px;
      border-radius: 6px; }
    .section_card_wrap .section_card .section_card_right_container {
      width: 750px;
      text-align: center;
      margin-top: 47px; }
      .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 28px;
        font-weight: 600; }
      .section_card_wrap .section_card .section_card_right_container .section_card_text {
        text-align: justify;
        font-family: "Hind", sans-serif;
        font-size: 17px;
        color: #c0c3ce;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-top: 39px;
        margin-left: 99px;
        margin-right: 108px; }
      .section_card_wrap .section_card .section_card_right_container .section_link {
        display: block;
        color: #c0c3ce;
        width: 100px;
        margin: auto;
        margin-top: 31px;
        font-size: 18px;
        font-family: "Source Sans Pro", sans-serif; }
        .section_card_wrap .section_card .section_card_right_container .section_link:hover {
          color: #699900; }

.section_banner {
  background-image: linear-gradient(45deg, #699900 5%, #46757c 60%, #305dde);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 1305px;
  height: 138px;
  margin: auto;
  position: relative;
  top: 69px;
  border-radius: 7px; }
  .section_banner .section_banner_heading {
    margin-left: 150px;
    position: relative;
    z-index: 1;
    color: #2a2d3b;
    font-size: 31px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    position: relative;
    z-index: 1; }
    .section_banner .section_banner_heading::after {
      content: "";
      position: absolute;
      left: 123px;
      bottom: 2px;
      width: 16%;
      z-index: -1;
      border-bottom: 53px solid #14a0c7; }
  .section_banner .section_banner_text {
    margin-left: 150px;
    font-size: 17px;
    font-family: "Hind", sans-serif;
    color: #c0c3ce;
    margin-bottom: 10px;
    font-weight: 600; }
  .section_banner button {
    margin-right: 150px; }

footer.footer {
  background-color: #21232e;
  height: 260px; }
  footer.footer .footer-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center; }
    footer.footer .footer-wrap .landing-logo {
      padding-top: 40px;
      display: flex;
      font-family: "Hind", sans-serif;
      align-items: flex-start;
      align-content: center; }
      footer.footer .footer-wrap .landing-logo img {
        width: 50px;
        height: 50px; }
      footer.footer .footer-wrap .landing-logo p {
        font-size: 25px;
        font-weight: 600;
        padding-left: 17px;
        line-height: 32px;
        color: #c0c3ce; }
        footer.footer .footer-wrap .landing-logo p span {
          font-family: "Hind", sans-serif;
          display: block;
          font-size: 10px;
          text-align: center;
          color: #c0c3ce;
          line-height: 11px; }
    footer.footer .footer-wrap .footer_text {
      width: 363px;
      text-align: justify;
      font-family: "Hind", sans-serif;
      font-size: 15px;
      color: #c0c3ce;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-top: 39px; }
    footer.footer .footer-wrap .footer-cr {
      font-family: "Hind", sans-serif;
      padding-top: 40px;
      color: #c0c3ce; }
