@mixin insertImage($image) {
  height: 766px;
  border-bottom-right-radius: 37% 40%;
  background: {
    image: $image;
    size: cover;
    position: 60% 49%;
    repeat: no-repeat;
  }
}
@mixin insertUnderline ($left, $bottom, $width, $borderTrichnes) {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    left: $left;
    bottom: $bottom;
    width: $width;
    z-index: -1;
    border-bottom: $borderTrichnes solid $colorUnderline;
  }
}
@mixin landingLogo ($paddingTop, $textColor) {
  padding-top: $paddingTop;
  display: flex;
  font-family: map-get($fontMap, "secondary");
  align-items: flex-start;
  align-content: center;
  img {
    width: 50px;
    height: 50px;
  }
  p {
    font-size: 25px;
    font-weight: 600;
    padding-left: 17px;
    line-height: 32px;
    color: $textColor;
    span {
      font-family: map-get($fontMap, "secondary");
      display: block;
      font-size: 10px;
      text-align: center;
      color: $textColor;
      line-height: 11px;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: $contentBackground;
}
header {
  @include insertImage($mainImage);
}
.header-wrap {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: {
    left: 200px;
  }
  padding-top: 20px;
  .landing-logo {
    @include landingLogo (5px, $textMainColor);
  }
  p {
    &.header_heading {
      font-size: 80px;
      font-family: map-get($fontMap, 'primary');
      text-align: left;
      color: $textMainColor;
      width: 700px;
      font-weight: 900;
      line-height: 1;
      @include insertUnderline (0, 3px, 48%, 53px);
    }
  }
  .header_text {
    font-size: 18px;
    text-align: left;
    color: $textMainColor;
    font-family: map-get($fontMap, "secondary");
    font-weight: 500;
    width: 720px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  div {
    &:last-child {
      width: 540px;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 22px;
        margin-top: 13px;
        color: $textTertiaryColor;
        font-weight: 600;
        font-family: map-get($fontMap, 'primary');
        &:hover {
          color: $buttonBackground;
        }
      }
    }
  }
}
button {
  background-color: $buttonBackground;
  color: $textTertiaryColor;
  font-family: map-get($fontMap, 'primary');
  font-size: 19px;
  font-weight: 600;
  padding: 12px 43px;
  border-radius: 4px;
  border: 2px solid $buttonBackground;
  &:hover {
    cursor: pointer;
    background-color: inherit;
  }
}
.section {
  margin:{
    top: 38px;
    left: 10px;
  }
  &>p{
    color: $textMainColor;
    margin: auto;
    margin-bottom: 40px;
    width: 518px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: map-get($fontMap, 'primary');
    @include insertUnderline (269px, 10px, 43.5%, 55px);
  }
}
.section_card_wrap{
  margin-bottom: 55px;
  .section_card {
    background-color: $sectionCardBackground;
    color: $textTertiaryColor;
    width: 1200px;
    height: 305px;
    margin: auto;
    margin-bottom: 23px;
    padding: 20px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    .section_card_img {
      width: 450px;
      border-radius: 6px;
    }
    .section_card_right_container {
      width: 750px;
      text-align: center;
      margin-top: 47px;
      .section_card_heading {
        font-family: map-get($fontMap, 'primary');
        font-size: 28px;
        font-weight: 600;
      }
      .section_card_text {
        text-align: justify;
        font-family:  map-get($fontMap, 'secondary');
        font-size: 17px;
        color: $textSecondaryColor;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: {
          top: 39px;
          left: 99px;
          right: 108px;
        }
      }
      .section_link {
        display: block;
        color: $textSecondaryColor;
        width: 100px;
        margin: auto;
        margin-top: 31px;
        font-size: 18px;
        font-family: map-get($fontMap, 'primary');
        &:hover {
          color: $buttonBackground;
        }
      }
    }
  }
}
.section_banner {
  background-image: $bannerLinerGradient;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 1305px;
  height: 138px;
  margin: auto;
  position: relative;
  top: 69px;
  border-radius: 7px;
  .section_banner_heading {
    margin-left: 150px;
    position: relative;
    z-index: 1;
    color: $textMainColor;
    font-size: 31px;
    font-family: map-get($fontMap, 'primary');
    font-weight: 800;
    margin-bottom: 10px;
    @include insertUnderline (123px, 2px, 16%, 53px);
  }
  .section_banner_text {
    margin-left: 150px;
    font-size: 17px;
    font-family: map-get($fontMap, 'secondary');
    color: $textSecondaryColor;
    margin-bottom: 10px;
    font-weight: 600;
  }
  button {
    @extend button;
    margin-right: 150px;
  }
}
footer.footer {
  background-color: $footerBackground;
  height: 260px;
  .footer-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: {
      left: 200px;
      right: 200px;
    }
    align-items: center;
    .landing-logo{
      @include landingLogo (40px, $textSecondaryColor);
    }
    .footer_text {
      width: 363px;
      text-align: justify;
      font-family: map-get($fontMap, 'secondary');
      font-size: 15px;
      color: $textSecondaryColor;
      letter-spacing: 1px;
      line-height: 1.5;
      margin: {
        top: 39px;
      }
    }
    .footer-cr {
      font-family: map-get($fontMap, 'secondary');
      padding-top: 40px;
      color: $textSecondaryColor;
    }
  }
}
