$contentBackground: #21232e;
$sectionCardBackground: #3b3f50;
$footerBackground: $sectionCardBackground;
$colorUnderline: #ff4e33;
$textMainColor: #fff;
$textSecondaryColor: #c0c3ce;
$textTertiaryColor: #fff;
$buttonBackground: #e3ac00;
$buttonTextColor: #fff;
$mainImage: url("../img/m-h-night.jpg");
$bannerLinerGradient: linear-gradient(
  45deg, $buttonBackground 5%, #b56330 60%, #912a53
);
