$contentBackground: #fff;
$sectionCardBackground: #21232e;
$footerBackground: $sectionCardBackground;
$colorUnderline: #14a0c7;
$textMainColor: #2a2d3b;
$textSecondaryColor: #c0c3ce;
$textTertiaryColor: #fff;
$buttonBackground: #699900;
$buttonTextColor: $contentBackground;
$mainImage: url("../img/m-h-day.jpg");
$bannerLinerGradient: linear-gradient(
  45deg, $buttonBackground 5%, #46757c 60%, #305dde
);
