$contentBackground: #fff;
$buttonTextColor: $contentBackground;
$textPrimaryColor: #2c2f3c;
$footerBackground: #222;
$sectionCardColor: $footerBackground;
$colorUnderline: #14a0c7;
$textSecondary-color: #c3c3c3;
$textTertiaryColor: #fff;
$buttonBackground: #699900;
$bannerBackgroundImage: linear-gradient(70deg, #65950e, #4c7b69, #2e5cd4);
$headerImage: url("../img/m-h-day.jpg");
$fontMap: (
  primary: (
    "Source Sans Pro",
    sans-serif
  ),
  secondary: (
    "Hind",
    sans-serif
  )
);
