* {
  margin: 0;
  padding: 0;
  border: 0;
}
.header {
  height: 100vh;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
}
.header .top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.header .top-header .landing-logo {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #000;
}
.header .top-header .navigation {
  width: 325px;
}
.header .top-header .navigation .nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header .top-header .navigation .nav-list a {
  text-decoration: none;
  color: #777;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.header .top-header .navigation .nav-list a:hover {
  color: #bfba55;
}
.header .header-wrap {
  background: linear-gradient( 90deg, rgba(0, 0, 0, 0.85) 30%,
  rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.85) 70%),
  linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20%),
  url(../img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0%;
  height: 92.3vh;
  width: 100%;
  text-align: center;
}
.header .header-wrap h1 {
  color: #FFFFFF;
  font-size: 55px;
  padding-top: 20%;
  padding-bottom: 1.6%;
}
.header .header-wrap p {
  color: #bfba55;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
}
.header .header-wrap .discover-btn {
  margin-top: 3.1%;
  width: 152px;
  height: 42px;
  font-size: 11px;
  border-radius: 21px;
  background-color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Merriweather', serif;
}
.header .header-wrap .discover-btn:hover{
  background-color: #cdcdcd;
}
main {
  background-color: #FFFFFF;
  padding-top: 10px;
  font-family: 'Lora', serif;
}
section, .footer-wrap {
  width: 69%;
  margin: auto;
}
section{
  padding-top: 90px;
  border-bottom: solid 1.3px #eee;
}
.last-section {
  margin-bottom: 40px;
  border-bottom: solid 0 #eee;
}
section > img {
  width: 100%;
  margin-bottom: 30px;
}
section h2 {
  font-family: 'Merriweather', serif;
  font-size: 27.7px;
  letter-spacing: 1px;
}
section .info-section, section .info-section .person-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section .info-section .person-info {
  margin-right: 18px;
}
section .info-section .date-info {
    margin-right: 18px;
}
section .info-section{
  margin-top: 17px;
  font-size: 15px;
  color: #777;
}
section .info-section .person-info .person-avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 12px;
}
section .section-text {
  padding: 20px 0;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
}
section .read-more {
  font-family: 'Merriweather', serif;
  background-color: #FFFFFF;
  border: solid 1.3px #eee;
  color: #777;
  width: 190px;
  height: 49px;
  border-radius: 25.5px;
  font-size: 13.75px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-top: 22px;
  margin-bottom: 75px;
  cursor: pointer;
}
section .read-more:hover {
  background-color: #eee;
}
footer {
  background-color: #000;
  padding-top: 85px;
  padding-bottom: 85px;
  font-family: 'Lora', serif;
}
footer .footer-wrap {
  color: #FFFFFF;
  display: flex;
  color: #777;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.7;
}
footer .footer-wrap .about-us {
  width: 44%;
}
footer .footer-wrap .about-us .footer_text {
  padding-bottom: 20px;
}
footer .footer-wrap .contact-us{
  width: 38%;
}
footer .footer-wrap .contact-us .address, footer .footer-wrap .contact-us p a {
  display: block;
  font-style: normal;
  text-decoration: none;
  color: #777;
  padding-bottom: 10px;
}
footer .footer-wrap .about-us h2, footer .footer-wrap .contact-us h2 {
  font-size: 26px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
}
