* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}
.header button {
  width: 140px;
  height: 30px;
  margin: 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: white;
  color: #282c34;
  cursor: pointer;
}
.header button:active, .header button:focus {
  outline: none;
}
.header button:hover {
  background-color: rgb(204, 204, 204);
}
.header button.active {
  background-color: rgb(102, 102, 102);
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 30px;
}

.employer {
  width: 350px;
  margin: 5px 10px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

.rm {
  background-color: rgb(138, 52, 52);
  box-shadow: none;
}

.rm h2 {
  text-align: center;
  margin-bottom: 10px;
}

.employer p {
  margin: 10px;
}

ul ul {
  margin-left: 190px;
  list-style: none;
}
