.game__grid--wraper {
  background: #14BDAC;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.548);
}

.game__grid {
  background: #0DA192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;

  & > .game__cell {
    background: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 150px;
    width: 150px;
  }

  .× {
    font-size: 200px;
  }
  
  .○ {
    color: #F2EBD3;
    font-size: 225px;
    padding-bottom: 28px;
  }

  .won {
    color: red;
  }
}

.game {
  .game__cell {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) {
  .game__grid {
    grid-gap: 10px;

    & > .game__cell {
      height: 125px;
      width: 125px;
    }
    .× {
      font-size: 150px;
    }
    .○ {
      font-size: 175px;
      padding-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .game__grid--wraper {
    padding: 25px;
  }
  .game__grid {
    grid-gap: 7px;

    & > .game__cell {
      height: 80px;
      width: 80px;
    }
    .× {
      font-size: 100px;
    }
    .○ {
      font-size: 125px;
      padding-bottom: 15px;
    }
  }
}
