* {
  margin: 0;
  padding: 0;
}
#root {
  margin-top: 15px;
}
div * {
  cursor: pointer;
}
div > ul ul, div > ul p {
  display: none;
}
p {
  margin-left: 8px;
  font-style: italic;
}
span {
  padding-left: 3px;
  display: block;
  width: 100%;
}
i {
  color: rgb(177, 177, 177);
}
.folder i {
  color: rgb(230, 180, 19);
}
ul {
  list-style-position: inside;
  list-style: none;
  margin-left: 15px;
  font-size: 21px;
}
.element {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}
.openedFolder + ul, .openedFolder + p {
  display: block;
}