<header>
  <h1>User page</h1>
  <div class="arrow" #gobackbtn>🠀</div>
</header>
<form>
  <label>
    <p>Name<span>*</span></p>
    <input type="text">
  </label>
  <label>
    <p>Email<span>*</span></p>
    <input type="email">
  </label>
  <label>
    <p>Phone<span>*</span></p>
    <input type="tel">
  </label>
  <label>
    <p>Address</p>
    <input type="text">
  </label>
  <label>
    <p>Website</p>
    <input type="text">
  </label>
  <div class="btns">
    <button type="submit">Save</button>
    <button type="button" #cancelbtn>Discard</button>
  </div>
</form>